table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

@media screen and (max-width: 600px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 6px;
    }
}

/* Agrega esto en tu archivo CSS o en una etiqueta <style> */
.fecha-cell div {
    font-size: 0.9em;
    color: #555;
    margin-top: 5px;
}



.button-custom {
  width: 100%;
  max-width: 300px; /* Ancho máximo para cada botón */
  height: 100%;
  max-height: 500px;
  border-radius: 10px; /* Redondear esquinas */
  padding: 12px 10px; /* Espaciado interno */
  background-color: hsl(0, 100%, 100%); /* Cambiar color de fondo */
  color: rgb(70, 68, 68); /* Cambiar color del texto */
  text-align: center; /* Centrar texto */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.button-list li {
  margin-bottom: 20px; /* Espaciado entre los botones */
}

.button-list a:hover {
  background-color: #616161; /* Color de fondo al pasar el mouse */
}

.small-image {
  width: 50%;  /* La imagen ocupará el 50% del contenedor */
  height: auto;
}

#subirFotoBtn {
    width: 100%;
    max-width: 80px; /* Ancho máximo para cada botón */
    height: 100%;
    max-height: 40px;
    border-radius: 8px ; /* Redondear esquinas */
    padding: 1px; /* Espaciado interno */
    color: rgb(252, 249, 249); /* Cambiar color del texto */
    text-align: center; /* Centrar texto */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */

  }

  #agregarBtn {
    width: 100%;
    max-width: 130px; /* Ancho máximo para cada botón */
    height: 150%;
    max-height: 100px;
    border-radius: 8px ; /* Redondear esquinas */
    padding: 1px; /* Espaciado interno */
    color: rgb(252, 249, 249); /* Cambiar color del texto */
    text-align: center; /* Centrar texto */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */

  }

  #exportPDF {
    width: 100%;
    max-width: 130px; /* Ancho máximo para cada botón */
    height: 100%;
    max-height: 70px;
    border-radius: 8px ; /* Redondear esquinas */
    padding: 1px; /* Espaciado interno */
    background-color: hsl(0, 85%, 51%); /* Cambiar color de fondo */
    color: rgb(252, 249, 249); /* Cambiar color del texto */
    text-align: center; /* Centrar texto */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */

  }

  #totalGastos {
    border-radius: 10px ; /* Redondear esquinas */
    text-align: center; /* Centrar texto */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */

  }
  
  #listaResumen {
    border-radius: 10px; /* Redondear esquinas */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
  }


  